/* Notes section;

font familes:
font-family: 'Amatic SC', cursive;
font-family: 'Andika', sans-serif;


color palate:
#f4eeff
#dcd6f7
#a6b1e1
#424874

*/

body {
  color: #424874;
  margin: 0px;
  background-color: #f4eeff;
}

h1,
h2 {
  font-family: "Amatic SC", cursive;
}

header {
  background-color: #dcd6f7;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

footer {
  display: flex;
  flex-direction: column;
  justify-items: end;
  align-items: center;
  background-color: #424874;
  width: 100%;
  height: 100px;
  margin-top: 100px;
}

nav {
  grid-column: 2 / 3;
  justify-self: center;
  align-self: center;
  font-size: 2.5em;
}

a {
  font-family: "Amatic SC", cursive;
  color: black;
  margin-right: 5px;
  margin-left: 5px;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: #424874;
  text-decoration: underline;
}

p {
  font-family: "Andika", sans-serif;
}

/* Class tags */

.title {
  margin-left: 50px;
  color: black;
}

.github-link {
  grid-column: 3 / 3;
  justify-self: end;
  align-self: center;
  font-size: 1.5em;
  margin-right: 50px;
}

.copyright {
  font-size: 0.5em;
  margin-bottom: 5px;
  color: #dcd6f7;
}

.general-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  width: 50%;
  text-align: center;
  color: black;
}

.profile-pic {
  justify-self: center;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.blog-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  width: 50%;
}

.blog-title {
  display: inline;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: start;
  align-self: center;
}

.blog-date {
  display: inline;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: end;
  align-self: center;
}

.blog-content {
  color: black;
}

.blog-separator {
  border-style: dotted none none none;
  border-width: 0.25em;
  margin-top: 50px;
  width: 5%;
  color: #424874;
}

.blog-link {
  font-family: 'Andika', sans-serif;
  color: #424874;
}


.form-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr;
  width: 50%;
  color: black;
  text-align: center;
}

.contact-me {
  align-self: center;
}

/* ID tags */
